<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Smart Mess Tally</title>
    <link href="https://fonts.googleapis.com/css?family=Cabin|Indie+Flower" rel="stylesheet">
    <link rel="stylesheet" href="C:\Users\Siddhant Agarwal\Desktop\Hackathon\smartmesstally\messtally\static\css\mess.css">
  </head>
  <body>
    <ul>
      <li style="float:left" class="att"><a href="home.html"><strong>Smart Mess</strong></a></li>
      <! {% if user.is_authenticated %}>
      <li><a href="home.html">Home</a></li>
      <li><a href="student.html">Student</a></li>
      <li><a href="expenses.html">Expenses</a></li>
      <li><a href="login.html">Current</a></li>
    </ul>
