<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Horizontal centering of two vertical divs of different width height</title>
<style>
.parent { height: 400px; width: 400px; background-color: green; position: relative;}

.content { height: 200px; width: 200px; background-color: yellow; margin:0 auto; }

</style>
</head>
<body>
<div class="parent">

<div class="content">
Child block 1
</div>
</div>

</body>
</html>
