<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Smart Mess Tally</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Cabin|Indie+Flower" rel="stylesheet">
    <link rel="stylesheet" href="C:\Users\Siddhant Agarwal\Desktop\Hackathon\smartmesstally\messtally\static\css\mess.css">
  </head>
  <body class="ab">
    <ul>
      <li style="float:left" class="att"><a href="home.html"><strong>Smart Mess</strong></a></li>
      <li><a href="home.html">Home</a></li>
      <li><a href="student.html">Student</a></li>
      <li><a href="expenses.html">Expenses</a></li>
      <li><a href="current.html">Current</a></li>
      <li style="float:right"><a href="login.html">Logout</a></li>
    </ul>
    <div class="topnav">
  <div class="search-container">
    <form action="profile.html" method="post">
      <input type="text" placeholder="Search.." name="search">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>
</div>
 <h2>Siddhant : 1171</h2>
 <button type="button" ><a href="edit.html" class="info">Change</a></button>
 <hr>
 <form action="current.html" class="item">
  <input type="checkbox" name="extra" value="icecream" class="abc"> Ice-Cream
  <input type="checkbox" name="extra" value="Milk" class="abc"> Milk
  <input type="checkbox" name="extra" value="sweetdish" class="abc"> Sweet Dish <br><br>
 <br>
  <input type="submit" value="Edit" class="button3">
</form>

  </body>
  </html>
