<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Smart Mess Tally</title>
    <link href="https://fonts.googleapis.com/css?family=Cabin|Indie+Flower" rel="stylesheet">
    <link rel="stylesheet" href="C:\Users\Siddhant Agarwal\Desktop\Hackathon\smartmesstally\messtally\static\css\mess.css">
  </head>
  <body>
    <ul>
      <li style="float:left" class="att"><a href="home.html"><strong>Smart Mess</strong></a></li>
      <li><a href="home.html">Home</a></li>
      <li><a href="student.html">Student</a></li>
      <li><a href="expenses.html">Expenses</a></li>
      <li><a href="current.html">Current</a></li>
      <li style="float:right"><a href="login.html">Logout</a></li>
    </ul>
    <div class="ma">
      <img src="back.jpg" alt="Hostel Mess" class="abd">

      <div class="me">
      <h1 id="head1">Extras</h1>
      <hr>
      <form class="exp" action="expenses.html" method="post">
        <label for="milk"><strong>Milk :</strong></label><br>
        <input type="number" placeholder="Enter Price" ><br>
        <br>
        <label for="Ice Cream"><strong>Ice Cream:</strong></label><br>
        <input type="number" placeholder="Enter Price"><br><br>
        <label for="Sweet Dish"><strong>Sweet Dish:</strong></label><br><br>
        <input type="number" placeholder="Enter Price"><br>
      <h1 id="head1">Other Expenses</h1>
      <hr><br>
        <label for="electricity"><strong>Electricity Bill :</strong></label><br>
        <input type="number" placeholder="Enter Bill Amount" ><br>
        <br>
        <label for="rent"><strong>Rent:</strong></label><br><br>
        <input type="number" placeholder="Enter Rent"><br><br>
        <label for="misc"><strong>Miscellaneous: </strong></label><br><br>
        <input type="number" placeholder="Enter Misc. Charges "><br><br>

      <h1 id="head1">Other Info:</h1>
      <hr><br>
      <label for="misc"><strong>Per Day Diet: </strong></label><br><br>
      <input type="number" placeholder="Enter Diet "><br><br>
      <label for="days"><strong>Total Working Days: </strong></label><br><br>
      <input type="number" placeholder="Enter Total Working Days "><br><br>

        <input type="submit" value="Add Information" class="button2">
      </form>
    </div>

      </div>

  </body>
  </html>
