<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Smart Mess Tally</title>
    <link href="https://fonts.googleapis.com/css?family=Cabin|Indie+Flower" rel="stylesheet">
    <link rel="stylesheet" href="C:\Users\Siddhant Agarwal\Desktop\Hackathon\smartmesstally\messtally\static\css\mess.css">
  </head>
  <body>
    <ul>
      <li style="float:left" class="att"><a href="home.html"><strong>Smart Mess</strong></a></li>
      <li><a href="home.html">Home</a></li>
      <li><a href="student.html">Student</a></li>
      <li><a href="expenses.html">Expenses</a></li>
      <li><a href="current.html">Current</a></li>
      <li style="float:right"><a href="login.html">Logout</a></li>
    </ul>
    <div class="home">
      <div class="ma">
        <img src="back.jpg" alt="Hostel Mess" class="abc">

      <div class="mb">
        <h2><u>About Us</u></h2>
        <p>Smart Mess is a web app to digitalize the Hostel Mess of colleges. It is a helping hand to students as well as the mess staff. Being a User Friendly platform it enables the staff members to easily keep a track of extra items consumed by the students and thereby create mess bill easily. The students are also notified about the items consumed by them by a message.</p><br>
        <h2><u>Features<u></h2>
        <ul id="l1">
          <li style="display:inline-block" id="l1">Easy to Use</li><br>
          <li style="display:inline-block" id="l1">Removes Discrepancies in the Bill</li><br>
          <li style="display:inline-block" id="l1">Digitalises the mess</li>
        </ul>
      </div>
      </div>



    </div>
  </body>
</html>
