<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Smart Mess Tally</title>
    <link href="https://fonts.googleapis.com/css?family=Cabin|Indie+Flower" rel="stylesheet">
    <link rel="stylesheet" href="C:\Users\Siddhant Agarwal\Desktop\Hackathon\smartmesstally\messtally\static\css\mess.css">
  </head>
  <body>
    <ul>
      <li style="float:left" class="att"><a href="home.html"><strong>Smart Mess</strong></a></li>
      <li><a href="home.html">Home</a></li>
      <li><a href="student.html">Student</a></li>
      <li><a href="expenses.html">Expenses</a></li>
      <li><a href="current.html">Current</a></li>
      <li style="float:right"><a href="login.html">Logout</a></li>
    </ul>
    <table width="40%" class="ind" id="ind">
      <tr>
        <th>Roll Number</th>
        <th>Amount</th>
      </tr>
      <tr>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
      </tr>

    </table>
  </body>
  <script type="text/javascript" src="mess.js">

  </script>
  </html>
