<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Smart Mess Tally</title>
    <link rel="stylesheet" href="C:\Users\Siddhant Agarwal\Desktop\Hackathon\smartmesstally\messtally\static\css\mess.css">
    <link href="https://fonts.googleapis.com/css?family=Niramit" rel="stylesheet">
  </head>
  <body>
    <div class="portal">
      <div class="header">
        <h1>Smart Mess</h1>
      </div>
        <form class="authenticate" action="home.html" method="post">
          <label for="username"><strong>User Name:</strong></label><br><br>
          <input type="text" value="Enter Username" ><br>
          <br>
          <label for="password"><strong>Password:</strong></label><br><br>
          <input type="password" value="password"><br><br><br>
          <input type="submit" value="Submit" class="button1">
        </form>

      </div>

    </div>
